html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  font-family: 'MuseoModerno', cursive;
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.App {
  position: relative;
  /* z-index: -999999; */
  /* background-image: url(../src/assets/img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
}

.main-bg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100vh;

  z-index: -1;
}

.container {
  max-width: 1170px;
  height: 100vh;
  margin: 0 auto;
}

.header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #171719;
  opacity: 0.4;
  left: 0;
  top: 0;
  border-bottom: 1px solid #2a292c;
}

.header__img-block {
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  padding: 20px;
  cursor: pointer;
}

.header__img-block::after,
.header__img-block::before {
  content: "";
  display: block;
  border: 1px solid #2a292c;
  z-index: 20;
  position: absolute;
}

.header__img-block::after {
  left: -1px;
  top: 7px;
  right: -1px;
  bottom: 7px;
  border-top: none;
  border-bottom: none;
}

.header__img-block::before {
  left: 7px;
  top: -1px;
  right: 7px;
  bottom: -1px;
  border-left: none;
  border-right: none;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list-item {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.375;
  text-align: left;
  margin-left: 40px;
  cursor: pointer;

  z-index: 9;
}

.header__list-item:first-child {
  margin-left: 0;
}

.header__list-item:hover {
  border-bottom: 1px solid #3d3d3d;

  background-color: rgb(255,255,255);
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,63,4,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  margin-bottom: 100px;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__title {
  font-size: 58px;
  line-height: 1.2;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

  background-color: rgb(255,255,255);
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,63,4,1) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__subtitle {
  font-size: 25px;
  line-height: 1.2;
  color: rgb(255, 255, 255);

  background-color: rgb(255,255,255);
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,63,4,1) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-side__btn {
  font-family: 'MuseoModerno', cursive;

  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: #13151d;
  border: 1px solid;

  padding: 10px 24px;

  border-color: rgb(38,62,102);
  border-image: linear-gradient(188deg, rgba(38,62,102,1) 0%, rgba(9,33,61,1) 36%, rgba(17,31,45,1) 63%, rgba(35,89,156,1) 100%);
  border-image-slice: 1;

  margin-top: 151px;
}

.left-side__btn:hover {
  background-color: rgb(255,255,255);
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,63,4,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-side__btn::after {
  content: url('../src/assets/img/linetoup.png');
  display: block;
  width: 406px;
  height: 58px;
  color: #fff;
  font-family: FontAwesome;
  background: transparent;
  position: absolute;
  top: 466px;
  left: 364px;
}

.right-side {
  max-width: 400px;

  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  margin-top: 150px;
}

.right-side__block {
  cursor: pointer;

  display: grid;
  justify-items: center;
  align-items: center;

  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; */

  /* margin-right: 10px;
  margin-bottom: 10px; */
  padding: 35px;
  
}

.right-side__block--1 {
  grid-area: 1 / 1 / 2 / 2;

  background: rgb(255,255,255);
  background: linear-gradient(133deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  opacity: .2;
}

/* .right-side__block--1:hover {
  background: rgb(255,255,255);
  background: linear-gradient(133deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
} */

.right-side__block--2 {
  grid-area: 1 / 2 / 2 / 3;

  background: rgb(255,255,255);
  background: linear-gradient(250deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  opacity: .2;
}

.right-side__block--3 {
  grid-area: 2 / 1 / 3 / 2;

  background: rgb(255,255,255);
  background: linear-gradient(37deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  opacity: .2;
}

.right-side__block--4 {
  grid-area: 2 / 2 / 3 / 3;

  background: rgb(255,255,255);
  background: linear-gradient(342deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  opacity: .2;
}

.right-side__block:hover {
  background-color: rgb(255,255,255);
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,63,4,1) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right-side__block-info-sup {
  font-size: 16px;
  margin-bottom: 25px;
}

.right-side__block-count {
  font-size: 60px;
}

.right-side__block-info-sub {
  font-size: 18px;
}
